/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.slider-caption h2 {
	color: #FFFFFF;
	letter-spacing: .1;
	font-weight:300;
}


body {
	font-family: Roboto Condensed;
	font-weight:300;
	color:#333;
}

h1 {
	font-size:80px;
}
h2 {
	font-size:55px;
}
h3 {
	font-size:39px;
}
h1,
h2,
h3,
h4,
h5,
h6  {
	font-family: Roboto Condensed;
	font-weight:300;
	letter-spacing: -0.97;
}
h4 {
	font-size:26px;
}
h5 {
	font-size:20px;
}
.font-35 {
	font-size:35px;
}
#slider > div > div > div > div.row.center {
	position:relative;
	top:-20px;
	font-size:14px;
}
/* New Patient Hotline: */
.background-orange {
	background:#FF7A00;
	color:#FFF;
}
.paddinglr-40 {
	padding-left:40px;
	padding-right:40px;
	height:38px;
}
#col-left {
	border-left:1px solid #FFF;
}
#col-right {
	margin-top:-7px;
}
.dark h4 {
	color:#C2D31E;
}
.font-green {
	color:#C2D31E;
}
.font-green-2 {
	color:#A0AF0F;
}

.btn-black:hover > .check-hover {
	color:#333333;
}
.h2-font-less {
	font-size:35px;
}

.gentium-book {
	font-family: Gentium Book Basic;
	font-weight:400;
}
.roboto-condensed {
	font-family: Roboto Condensed;
}
.retina-logo, .standard-logo {
	width:90%;
}

.text-black {
	color:#2F2E30;
}
#header.full-header #logo {
	border-right:none;
}
#header.full-header #primary-menu > ul {
	border-right:none;
}
body.stretched #header.full-header .container {
	padding-left:10px;
}
.text-white {
	color:#FFF;
}

.slider-caption p {
	font-size: 55px;
	letter-spacing: -0.98px;
}
.topmargin-15 {
	margin-top:15px;
}
.topmargin-30 {
	margin-top:30px;
}
.bottommargin-30 {
	margin-bottom:30px;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
.font-purple {
	color: #7270BC;
}
.dark .slider-caption h2 {
	letter-spacing: -1.5px;
}
.top-15 {
	position:relative;
	top:-15px;
	font-size:15px;
}
.margin-neg-15 {
	margin-top:-15px !important;
}
.slider-caption.slider-caption-center {
		max-width:1100px;
}
.nomargintop {
	margin-top:0;
}

.section-8-boxes {
	margin-top:17px;
}
.feature-box.media-box p {
	margin-top:5px;
}
.section-8-text {
	font-size:12px;
}

.section-8-purple {
	color:#7270BC;
	font-family:Roboto Condensed;
	font-weight:400;
}
#r-symbol {
	font-size:12px;
}

.slider-caption .h2-no-margin {
	margin-bottom:0;
}

.slider-caption .p-font-size {
	font-size:16px;
	margin-bottom:-5px;
	letter-spacing:.5px;
}
.section-1-row {
	text-align:center;
	width:50%;
	margin:0 auto;
}
.section-1-column {
	text-align:right;
}

.two-column-short {
	display:flex;
	flex-direction:row;
}

.two-column-short .text-left, .two-column-short .text-right {
	width:50%;
}
.two-column-short .text-left {
	text-align:right;
	padding-right:20px;
}
.two-column-short .text-right {
	text-align:left;
	padding-left:20px;
	border-left:1px solid #d9d9d9;
	height:45px;
	margin-top:5px;
}

.text-left {
	display:flex;
	flex-direction:column;
}

.phone-font-size {
	font-size:18px;
}

.margin-left-3 {
	margin-left:3px;
}

.text-left .p-no-margin {
	margin:0;
	margin-bottom:-5px;
}

.text-left .p-font-size-big {
	font-size:27px;
}
.btn-green {
	background: #C2D31E;
	border-radius: 8px;
	height:40px;
	color:#000;
}
.text-left .green {
	color: #C2D31E;
}
.row-two-text {
	color: #FFFFFF;
	letter-spacing: -0.64px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.91);
}

#section-about {
	background:#3E3E3E;
}
.notoppadding {
	padding-top:0;
}

.section-three-text {
	/* Stephanie iѕ origina: */
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom:14px;
	letter-spacing: -0.32px;
}
.toppadding {
	padding-top:50px;
}

.title-purple {
	/* LIMITED TIME SUMMER: */
	font-size: 38px;
	color: #7270BC;
	font-weight:400;
	margin-bottom:0px;
}

.section-8-box p {
	color:#333;
}
.section-three-title {
	/* Ross M. LeCavalier,: */
	font-size: 25px;
	color: #C2D31E;
	font-weight:400;
	margin-bottom:40px;
}
.section-four-span {
	/* Offer Ends September: */
	font-size: 18.5px;
	color: #7C7C7C;
	letter-spacing:.5px;
}
.section-four-row {
}
.split-row-line {
	/* Line: */
	border: 1px solid #7C7C7C;
}
.contact-blue {
	color:#2A2D61;
	font-weight:bold;
	margin-bottom:0;
}
.bottommargin-20 {
	margin-bottom:20px;
}
.contact-address {
	font-size:12px;
	color:#7C7C7C;
}

.row .price-box, .row .price-box-mid {
	/* Rectangle 5 Copy 2: */
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 8px;
	border: 1px solid #7C7C7C;
	height:340px;
	text-align:left;
}
.img-size-80 {
	max-width:80%;
}

.row .price-box {
	color:#5C5B81
}
.row .price-box-mid {
	color: #7270BC;
}

.price-box-top, .price-box-top-mid, .price-box-top-bottom {
	height:15px;
	border-radius:7px 7px 0 0;
}
.price-box-top {
	background: #5C5B81;;
}
.price-box-top-mid {
	background:#7270BC;
}
.price-box-top-bottom {
	background:#2A2D61;
}
.price-box-content {
	padding:25px;
}

.price-box-content p {
	font-family:Roboto Condesed;
	color: #2F2E30;
	margin-bottom:15px;
	font-size:15px;
}

#content p {
	line-height:1.3;
}
.purple-1 {
	color:#5C5B81;
}

.color-purple-3 {
	color:#2A2D61;
}
#primary-menu > ul > li > a > div, #primary-menu ul li > a {
	font-weight:300;
	font-family: Roboto Condensed;
	letter-spacing:0px;
	font-size:12px;
}

#primary-menu > ul > li > a > div.weight-normal {
	font-weight:400;
}

.font-light {
	font-weight:300;
}



.price-box-h3, .price-box-h3-mid {
	/* New Patient Dental E: */
	font-size: 28px;
	font-weight:400;
	letter-spacing: -0.58px;
	line-height: 38px;
	margin-bottom:5px;
}
.price-box-h3-mid, .price-box-h4-mid {
	color:#7270BC;
}

.price-box-price {
	font-size: 50px;
	letter-spacing: -2.38px;
	line-height: 38px;
	text-align:right;
}

.dollar {
	font-size:23px;
	position:relative;
	top:-17px;
	margin-right:2px;
	font-weight:500;
}
#section-work {

	background: #F7F7F7;
}
#section-team {
	background:url('images/reviews-section.jpg')
}
.title-white {
	font-size: 38px;
	color: #FFFFFF;
	font-weight:400;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.92);
}
.section-six-span {
	/* Join our Dimensions: */
	font-size: 18px;
	font-weight:300;
	color: #FFFFFF;
	letter-spacing: -0.46px;
}
.section-six-title {
	margin-bottom:0;
	font-size:38px;
}
.no-text-shadow {
	text-shadow:none;
}
#section-services {
	background:#3E3E3E;
}
#h3-ross-m {
	position:relative;
	top:25px;
}
.section-two-border-top {
	background: #5C5B81;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	height:20px;
}
#section-one-phone {
	font-weight:400;
	color:#FFF;
}
#text-wrap {
	height:400px;

}
#section-testimonials {
	height:400px;
	border-bottom:5px solid #5C5B81;

}

.vertical-align {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.section-six-container {
	display:flex;
	height:250px;
	width:76%;
	margin:0 auto;
	border-radius:8px;
}
.box-left, .box-right {
	height:200px;
	padding:20px;
}
#insurance-text {
	margin-bottom: 30px;
}
.box-left {
	width:80%;
	background:#fff;
	padding-right:5px;
	border-radius: 8px 0px 0px 8px;
}
.box-right {
	width:24%;
	background:#C2D31E;
	border-radius: 0px 8px 8px 0px;
}
div.box-right > div.box-right-top {
	/* PLANS START AT:: */	font-size: 14px;
	color: #3E3E3E;
	letter-spacing: -0.32px;
	font-weight:300;
	text-align:center;
	margin-bottom:-8px;
	margin-top:10px;
}
.btn-black {
	background: #3E3E3E;
	text-align:center;
	margin:0 auto;
	width:100%;
	margin-top:10px;
}
.box-right-bottom {
	text-align:center;
	color:#3E3E3E;
}
.box-right-bottom span {
	text-align:center;
}
.fa-check-square-o {
	margin-right:10px;
}

#price-28 {
	font-size:56px;
}
#dollar-28 {
	position:relative;
	top:-25px;
}

.box-left-top {
	border-bottom: 1px solid #7C7C7C;
	height:40px;
	margin-bottom:20px;
}
.box-left-bottom {
	/* Easy Monthly Payment: */
	font-size: 13px;
	color: #7C7C7C;
	letter-spacing: -0px;
	font-weight:300;
	line-height: 43px;
}
.box-left-bottom p {
	margin-bottom:13px;
}

.img-abs {
	position:absolute;
	right:0px;
	top:0px;
}

.weight-normal {
	font-weight:400;
}
#section-smile-gallery {
	height:561px;
	padding-bottom:0;
}

#section-smile-gallery > div > div > h2 {
	color:#2A2D61;
	font-size:48px;
	margin-bottom:0px;
}
#section-smile-gallery > div > div > h3 {
	font-size:23px;
	color:#3E3E3E;
	letter-spacing:.5px;
}
#section-smile-gallery > div > div > p {
	font-size:15px;
	color:#3E3E3E;
	margin-bottom:20px;
}
#section-smile-gallery > div > div > button {
	width:275px;
	color:#2F2E30;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.bold {
	font-weight:500;
}
.nopadding {
	padding:0;
}

.modal-header-2 {
	padding:0px;
	height:0px;
}
.modal-header .close {
	padding-top:15px;
	margin-right:15px;
	position:absolute;
	right:0px;
	top:0px;
}

.img-half {
	width:50%;
}
.float-right {
	float:right;
}
#contact-phone-big {
	font-size:22px;
	color:#2A2D61;
	font-weight:500;
}
.reviews {
	width:100%;
	text-align:center;
	height:600px;
}
#contact-phone-small {
	color:#2A2D61;
	font-size:15px;
}

.margin-neg-5 {
	margin-bottom:-5px;
}
.noleftpadding {
	padding-left:0;
}

.font-orange {
	color:#FF7A00;
}

.float-left {
	float:left;
}
.nopaddingright {
	padding-right:0;
}

#bfpublish {
	height:500px;
}

.reviews-wrap {
	width:80%;
	height:200px !important;
	margin:0 auto;
	text-align:center;
}

#footer, #copyrights {
	background: #5C5B81;
	height:96px;
}
#copyrights {
	margin:0 auto;
	color:#FFF;
	text-align:center;
}
.social-icon {
	color:#FFF;
	border-radius:5px;
}
.si-twitter {
	background:#4099FF;
}
.social-icon-wrap {
	padding-right:15px;
	position:absolute;
	right:0px;
}
.social-icon {
	margin-right:15px;
}
.height-30 {
	height:30px;
	margin-bottom:-13px;
}
.si-gplus {
	background:#dd4b39;
}
.si-facebook {
	background:#3b5998;
}
#footer {
	border-top:0;
	height:96px;
}
section {
	width:100%;
	background-position:center center;
	background-size:cover;
}
#mobile-background {
	display:none;
}

.modal.in .modal-dialog {
	border-radius:5px;
	background:#FFF;
	padding:15px;
}
.form-error {
  color: #D56724;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  display: none;
}

@media only screen and (max-width:1200px) {

	div > div.price-box-content > h4 {
		margin-bottom:10px;
	}
	#section-work > div.container.clearfix.center {
		width:850px;
	}
	#primary-menu ul li > a{
		padding-left:10px;
		padding-right:10px;
	}
	#primary-menu ul li > a {
		background:#fff;
	}

}

@media only screen and (max-width:991px) {
	.section-1-column {
		text-align:center;
	}
	#col-left {
		border-left:none;
	}
	#move-up {
		position:relative;
		top:-25px;
	}
	#header.full-header .container, .container-fullwidth {
		width:auto !important;
	}
	.retina-logo, .standard-logo {
		width:100%;
	}
	#header.full-header, .stretched #header.full-header .container {
		height:75px;
	}
	#logo img {
		width:22% !important;
	}
	#primary-menu-trigger, #logo img {
		margin-top:-12px;
	}
	.section-six-container {
		flex-direction:column;
	}
	.box-left {
		width:100%;
		border-radius:8px 8px 0px 0px;
		height:285px;
	}
	.box-right {
		width:100%;
		margin:0 auto;
		border-radius:0px 0px 8px 8px;
	}
	#price-28 {
		font-size:30px;
	}
	#dollar-28, #price-28 {
		top:0px;
		position:relative;
		left:-80px;
	}
	#section-services {
		height:500px;
	}
	.section-six-container {
		height:320px;
	}
	div.box-right > div.box-right-top {
		float:left;
		font-size:20px;
		text-align:right;
		width:50%;
	}
	#google-map {
		margin:0 auto;
		margin-top:20px;
	}
	#section-pricing > div > .row > .col-md-4.center.noleftpadding {
		padding-right:0;
	}
	.social-icon-wrap {
		position:relative;
		float:none !important;
		width:156px;
		margin:0 auto;
	}
	.content-wrap {
		padding-bottom:50px;
	}
	.copyright-text {
		margin-top:-20px;
	}
	#primary-menu-trigger {
		font-size:35px;
	}
	#logo img {
		width:18% !important;
		float:right;
	}
	#col-left > .btn-wrap {
		float:none;
	}
	.center-mobile {
		text-align:center;
		float:none !important;
	}

}


@media only screen and (max-width:768px) {
	#slider {
		display:none;
	}
	.box-left {
		height:365px;
	}
	div.box-left > div.box-left-top > h4 {
		font-size:20px;
	}
	#dollar-28, #price-28 {
		left:-43px;
	}
	#logo img {
		width:22% !important;
		float:right;
	}
	#mobile-background {
		display:block;
	}

	.stephanie-wrap {
		margin-bottom:25px;
	}
	.row.bottommargin > div.col-md-9 > h3 {
		margin-bottom:15px;
	}
}

@media only screen and (max-width:480px) {
	.price-mobile {
		margin-bottom:15px;
	}
}
@media only screen and (max-width:320px) {
	div.box-left > div.box-left-top > h4 {
		font-size:18px;
	}
	.col-md-4.center.noleftpadding {
		padding-right:0;
	}
	#section-services {
		height:550px;
	}
	.section-six-container {
		width:100%;
	}
	.box-right {
		height:185px;
	}
	div.box-right > div.box-right-top {
		font-size:15px;
	}

	#dollar-28, #price-28 {
		left:-30px;
		font-size:25px;
	}
	#footer, #copyrights {
		height: auto;
	}
}
